$_REPL->load_plugin('Refresh');
$_REPL->load_plugin('DumpHistory');

use IO::All;
use YAML qw/LoadFile DumpFile/;
use lib 'lib';
use Grades;

my %leagues = map { $_ => League->new( id => "../$_" ) }
		qw/GL00003 GL00022 GL00031 CLA0013 MIA0012 FLA0015 FLB0002/;
my %grades = map { $_ => Grades->new( league => $leagues{$_} ) } keys %leagues;

my $league = 'GL00022';
my $session = 'fourth';
my $can = $grades{$league}->names2beancans($session);
my $grades = $grades{$league}->grades4session($session);
my $members = $grades{$league}->league->members;
my $i = $grades->{$can->{$members->[1]->{name}}};
my $ii = $grades->{$can->{$members->[2]->{name}}};
my $iii = $grades->{$can->{$members->[3]->{name}}};
my $jj = Grades->new( league => League->new( id => 't/emile/' ) )
