$_REPL->load_plugin('Refresh');
$_REPL->load_plugin('DumpHistory');

use IO::All;
use YAML qw/LoadFile DumpFile/;
use lib 'lib';
use Grades;

my %leagues = map { $_ => League->new( id => "../../$_" ) }
		qw/GL00003 GL00022 GL00031 GL00038 GL00040 CLA0013 MIA0012 FLA0015 FLB0002/;
my %g = map { $_ => Grades->new( league => $leagues{$_} ) } keys %leagues;

my $jj = Grades->new( league => League->new( id => 't/emile/' ) );
