[% # Provide a title to root/lib/site/header -%]
[% META title = 'Homework scores' -%]

<table>
<tr><th>Class</th><th>Name</th><th>ID</th>
<th>Weeks:</th>[% FOREACH week IN weeks %]
    <th>[% week.name %]</th>[% END %]
<th>Total Score</th><th>Grade</th></tr>
  <tr>
    <td>[% league %]</td>
    <td>[% player %]</td>
    <td>[% id %]</td>
    <td></td>
[% FOREACH week IN weeks -%]
    <td>[% week.score %]</td>
[% END -%]
    <td>[% total %]</td>
    <td>[% percent %]</td>
  </tr>
</table>

